* {
  font-weight: bold;
}

header{
  z-index: 9999;
}

.text-decoration-none {
  color: #6C757D;
  text-decoration: none;
  font-weight: bold;
}

.active {
  color: #fff;
}

/*************
PROJECTS PAGE
*************/

.card-dwml {
  font-family: 'Courier New', Courier, monospace;
}

.bi-download:hover {
  zoom: 1.1;
  color: #227ccb;
}

/*************
STORY PAGE
*************/

.schoolbg {
  background-image: url('../../public/school.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.workbg {
  background-image: url('../../public/lavoro-ufficio.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 300px;
  height: 300px;

}

.workbg:hover {
  cursor: pointer;
  opacity: 0.9;
}

.schoolbg:hover {
  cursor: pointer;
  opacity: 0.9;
}


/***************
WORK PAGE
***************/
.work-img{
  z-index: 1;
}


.contact, .home, .projects, .school, .social, .page , .work {
  margin-top: 120px;
}